openapi: 3.1.0
info:
  title: API Reference accounts consumers API
  version: 1.0.0
servers:
- url: https://host.com
  description: Default
tags:
- name: consumers
paths:
  /v2/consumers/{consumer_id}/dispute/list/:
    get:
      operationId: list-consumer-disputes
      summary: List Consumer Disputes
      description: ''
      tags:
      - consumers
      parameters:
      - name: consumer_id
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: limit
        in: query
        description: Number of results to return per page.
        required: false
        schema:
          type: integer
      - name: offset
        in: query
        description: The initial index from which to return the results.
        required: false
        schema:
          type: integer
      - name: search
        in: query
        description: A search term.
        required: false
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Consumers_listConsumerDisputes_Response_200'
  /v2/consumers/{consumer_id}/accounts/:
    get:
      operationId: get-consumer-bank-accounts
      summary: Get Consumer Bank Accounts
      description: ''
      tags:
      - consumers
      parameters:
      - name: consumer_id
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: limit
        in: query
        description: Number of results to return per page.
        required: false
        schema:
          type: integer
      - name: offset
        in: query
        description: The initial index from which to return the results.
        required: false
        schema:
          type: integer
      - name: search
        in: query
        description: A search term.
        required: false
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Consumers_getConsumerBankAccounts_Response_200'
  /v2/consumers/{consumer_id}/payment-cards/:
    get:
      operationId: list-consumer-payment-cards
      summary: List Consumer Payment Cards
      description: ''
      tags:
      - consumers
      parameters:
      - name: consumer_id
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: page
        in: query
        description: A page number within the paginated result set.
        required: false
        schema:
          type: integer
      - name: page_size
        in: query
        description: Number of results to return per page.
        required: false
        schema:
          type: integer
      - name: search
        in: query
        description: A search term.
        required: false
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Consumers_listConsumerPaymentCards_Response_200'
  /v2/consumers/:
    get:
      operationId: list-consumers
      summary: List Consumers
      description: Get all consumers
      tags:
      - consumers
      parameters:
      - name: page
        in: query
        description: A page number within the paginated result set.
        required: false
        schema:
          type: integer
      - name: page_size
        in: query
        description: Number of results to return per page.
        required: false
        schema:
          type: integer
      - name: search
        in: query
        description: A search term.
        required: false
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Consumers_listConsumers_Response_200'
    post:
      operationId: create-new-consumer
      summary: Create New Consumer
      description: Create a new Consumer if one does not exist for the given partner and pc_id
      tags:
      - consumers
      parameters:
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewConsumer'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewConsumer'
  /v2/consumers/{consumer_id}/:
    get:
      operationId: retrieve-consumer
      summary: Retrieve Consumer
      description: Get the consumer data from the consumer_id provided by the partner
      tags:
      - consumers
      parameters:
      - name: consumer_id
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetConsumer'
    put:
      operationId: update-consumer
      summary: Update Consumer
      description: PUT method to update consumer's data
      tags:
      - consumers
      parameters:
      - name: consumer_id
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateConsumer'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateConsumer'
  /v2/consumers/pcid/{consumer_pc_id}/:
    get:
      operationId: get-consumers-by-pcid
      summary: Get Consumers By PCID
      description: Get Consumer by PCID
      tags:
      - consumers
      parameters:
      - name: consumer_pc_id
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetConsumer'
  /v2/consumers/{consumer_id}/addresses/:
    get:
      operationId: list-consumer-addresses-v-2
      summary: List Consumer Addresses V 2
      description: Retrieves a list of addresses for the consumer.
      tags:
      - consumers
      parameters:
      - name: consumer_id
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: page
        in: query
        description: A page number within the paginated result set.
        required: false
        schema:
          type: integer
      - name: page_size
        in: query
        description: Number of results to return per page.
        required: false
        schema:
          type: integer
      - name: search
        in: query
        description: A search term.
        required: false
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Consumers_ListConsumerAddressesV2_Response_200'
    post:
      operationId: create-address-v-2
      summary: Create Address V 2
      description: Create a new address for the consumer. Billing addresses cannot be created manually.
      tags:
      - consumers
      parameters:
      - name: consumer_id
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Address'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Address'
  /v2/consumers/{consumer_id}/addresses/{address_id}/:
    get:
      operationId: retrieve-address-v-2
      summary: Retrieve Address V 2
      description: Retrieves an address.
      tags:
      - consumers
      parameters:
      - name: consumer_id
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: address_id
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Address'
    put:
      operationId: update-address-v-2
      summary: Update Address V 2
      description: Update an existing address. Billing addresses cannot be edited or transformed into billing.
      tags:
      - consumers
      parameters:
      - name: consumer_id
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: address_id
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Address'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Address'
    delete:
      operationId: delete-address-v-2
      summary: Delete Address V 2
      description: Delete an address. Billing addresses cannot be deleted.
      tags:
      - consumers
      parameters:
      - name: consumer_id
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: address_id
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '204':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Consumers_DeleteAddressV2_Response_204'
  /v2/consumers/{consumer_id}/invites/:
    get:
      operationId: list-consumer-invites
      summary: List Consumer Invites
      description: ''
      tags:
      - consumers
      parameters:
      - name: consumer_id
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: page
        in: query
        description: A page number within the paginated result set.
        required: false
        schema:
          type: integer
      - name: page_size
        in: query
        description: Number of results to return per page.
        required: false
        schema:
          type: integer
      - name: search
        in: query
        description: A search term.
        required: false
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Consumers_listConsumerInvites_Response_200'
    post:
      operationId: create-consumer-invites
      summary: Create Consumer Invites
      description: ''
      tags:
      - consumers
      parameters:
      - name: consumer_id
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUserInvitation'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUserInvitation'
  /v2/consumers/{consumer_id}/dispute/:
    post:
      operationId: create-consumer-dispute
      summary: Create Consumer Dispute
      description: ''
      tags:
      - consumers
      parameters:
      - name: consumer_id
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsumerDispute'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConsumerDispute'
  /v2/consumers/{consumer_id}/cancel-account/:
    post:
      operationId: create-account-cancellation
      summary: Create Account Cancellation
      description: ''
      tags:
      - consumers
      parameters:
      - name: consumer_id
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountCancellation'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountCancellation'
  /v2/consumers/{consumer_id}/payments/ach:
    get:
      operationId: list-consumer-ach-payments
      summary: List Consumer ACH Payments
      description: ''
      tags:
      - consumers
      parameters:
      - name: consumer_id
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: page
        in: query
        description: A page number within the paginated result set.
        required: false
        schema:
          type: integer
      - name: page_size
        in: query
        description: Number of results to return per page.
        required: false
        schema:
          type: integer
      - name: search
        in: query
        description: A search term.
        required: false
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Consumers_listConsumerACHPayments_Response_200'
  /v2/consumers/{consumer_id}/payments/transfer:
    get:
      operationId: list-transfer-responses
      summary: List Transfer Responses
      description: Get User Book Transfer History
      tags:
      - consumers
      parameters:
      - name: consumer_id
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: limit
        in: query
        description: Number of results to return per page.
        required: false
        schema:
          type: integer
      - name: offset
        in: query
        description: The initial index from which to return the results.
        required: false
        schema:
          type: integer
      - name: search
        in: query
        description: A search term.
        required: false
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Consumers_listTransferResponses_Response_200'
components:
  schemas:
    UpdateConsumer:
      type: object
      properties:
        pcid:
          type: string
        first_name:
          type: string
        last_name:
          type: string
        email:
          type: string
          format: email
        phone_number:
          type: string
        date_of_birth:
          type: string
          format: date
        address_line1:
          type: string
        address_line2:
          type: string
        address_city:
          type: string
        address_state:
          type: string
        address_zip:
          type: string
      title: UpdateConsumer
    NewConsumer:
      type: object
      properties:
        pcid:
          type: string
        email:
          type: string
          format: email
        external_id:
          type: string
          format: uuid
        first_name:
          type: string
        last_name:
          type: string
        phone_number:
          type: string
        date_of_birth:
          type: string
          format: date
        tax_identifier:
          type: string
        address_line1:
          type: string
        address_line2:
          type: string
        address_city:
          type: string
        address_state:
          type: string
        address_zip:
          type: string
      required:
      - pcid
      - email
      title: NewConsumer
    BankAccountV2:
      type: object
      properties:
        id:
          type: string
        consumer_id:
          type: string
        bank_name:
          type:
          - string
          - 'null'
        balance:
          type: string
        account_name:
          type: string
        account_type:
          type: string
        account_number:
          type: string
        account_routing_number:
          type: string
        is_primary:
          type: boolean
        is_active:
          type: boolean
          default: true
      required:
      - bank_name
      - account_name
      - account_type
      - is_primary
      title: BankAccountV2
    Consumers_getConsumerBankAccounts_Response_200:
      type: object
      properties:
        count:
          type: integer
        next:
          type:
          - string
          - 'null'
          format: uri
        previous:
          type:
          - string
          - 'null'
          format: uri
        results:
          type: array
          items:
            $ref: '#/components/schemas/BankAccountV2'
      required:
      - count
      - results
      title: Consumers_getConsumerBankAccounts_Response_200
    GetUserInvitation:
      type: object
      properties:
        id:
          type: string
          format: uuid
        consumer_id:
          type: string
          format: uuid
        invite_code:
          type: string
        claimed:
          type: boolean
        claimed_date:
          type:
          - string
          - 'null'
          format: date-time
        expiration_date:
          type: string
          format: date-time
      required:
      - id
      - consumer_id
      title: GetUserInvitation
    Consumers_listConsumerDisputes_Response_200:
      type: object
      properties:
        count:
          type: integer
        next:
          type:
          - string
          - 'null'
          format: uri
        previous:
          type:
          - string
          - 'null'
          format: uri
        results:
          type: array
          items:
            $ref: '#/components/schemas/ConsumerDispute'
      required:
      - count
      - results
      title: Consumers_listConsumerDisputes_Response_200
    CreateUserInvitation:
      type: object
      properties:
        expiration_date:
          type: string
          format: date-time
      required:
      - expiration_date
      title: CreateUserInvitation
    Consumers_listConsumerACHPayments_Response_200:
      type: object
      properties:
        count:
          type: integer
        next:
          type:
          - string
          - 'null'
          format: uri
        previous:
          type:
          - string
          - 'null'
          format: uri
        results:
          type: array
          items:
            description: Any type
      required:
      - count
      - results
      title: Consumers_listConsumerACHPayments_Response_200
    AddressCountry:
      type: string
      enum:
      - AF
      - AX
      - AL
      - DZ
      - AS
      - AD
      - AO
      - AI
      - AQ
      - AG
      - AR
      - AM
      - AW
      - AU
      - AT
      - AZ
      - BS
      - BH
      - BD
      - BB
      - BY
      - BE
      - BZ
      - BJ
      - BM
      - BT
      - BO
      - BQ
      - BA
      - BW
      - BV
      - BR
      - IO
      - BN
      - BG
      - BF
      - BI
      - KH
      - CM
      - CA
      - CV
      - KY
      - CF
      - TD
      - CL
      - CN
      - CX
      - CC
      - CO
      - KM
      - CG
      - CD
      - CK
      - CR
      - HR
      - CU
      - CW
      - CY
      - CZ
      - DK
      - DJ
      - DM
      - DO
      - EC
      - EG
      - SV
      - GQ
      - ER
      - EE
      - ET
      - FK
      - FO
      - FJ
      - FI
      - FR
      - GF
      - PF
      - TF
      - GA
      - GM
      - DE
      - GH
      - GI
      - GR
      - GL
      - GD
      - GP
      - GU
      - GT
      - GG
      - GN
      - GW
      - GY
      - HT
      - HM
      - VA
      - HN
      - HK
      - HU
      - IS
      - IN
      - ID
      - IR
      - IQ
      - IE
      - IL
      - IT
      - CI
      - JM
      - JP
      - JE
      - JO
      - KZ
      - KE
      - KI
      - KP
      - KR
      - KS
      - KW
      - KG
      - LA
      - LV
      - LB
      - LS
      - LR
      - LY
      - LI
      - LT
      - LU
      - MO
      - MK
      - MG
      - MW
      - MY
      - MV
      - ML
      - MH
      - MQ
      - MR
      - MU
      - YT
      - MX
      - FM
      - MD
      - MC
      - MN
      - ME
      - MS
      - MA
      - MZ
      - MM
      - NA
      - NR
      - NP
      - NL
      - AN
      - NC
      - NZ
      - NI
      - NE
      - NG
      - NU
      - NF
      - MP
      - 'NO'
      - OM
      - PK
      - PW
      - PS
      - PA
      - PG
      - PY
      - PE
      - PH
      - PN
      - PL
      - PT
      - PR
      - QA
      - RE
      - RO
      - RU
      - RW
      - BL
      - SH
      - KN
      - LC
      - MF
      - PM
      - VC
      - WS
      - SM
      - ST
      - SA
      - SN
      - RS
      - SC
      - SL
      - SG
      - SX
      - SK
      - SI
      - SB
      - SO
      - ZA
      - GS
      - ES
      - LK
      - SD
      - SR
      - SJ
      - SZ
      - SE
      - CH
      - SY
      - TW
      - TJ
      - TZ
      - TH
      - TL
      - TG
      - TK
      - TO
      - TT
      - TN
      - TR
      - TM
      - TC
      - TV
      - UG
      - UA
      - AE
      - GB
      - US
      - UM
      - UY
      - UZ
      - VU
      - VE
      - VN
      - VG
      - VI
      - WF
      - EH
      - YE
      - ZM
      - ZW
      title: AddressCountry
    ConsumerDispute:
      type: object
      properties:
        pk:
          type: integer
        reason:
          type: string
        details:
          type:
          - string
          - 'null'
        status:
          $ref: '#/components/schemas/ConsumerDisputeStatus'
        created_at:
          type: string
          format: date-time
      required:
      - reason
      title: ConsumerDispute
    Consumers_listTransferResponses_Response_200:
      type: object
      properties:
        count:
          type: integer
        next:
          type:
          - string
          - 'null'
          format: uri
        previous:
          type:
          - string
          - 'null'
          format: uri
        results:
          type: array
          items:
            $ref: '#/components/schemas/GetTransferResponse'
      required:
      - count
      - results
      title: Consumers_listTransferResponses_Response_200
    Consumers_ListConsumerAddressesV2_Response_200:
      type: object
      properties:
        count:
          type: integer
        next:
          type:
          - string
          - 'null'
          format: uri
        previous:
          type:
          - string
          - 'null'
          format: uri
        results:
          type: array
          items:
            $ref: '#/components/schemas/Address'
      required:
      - count
      - results
      title: Consumers_ListConsumerAddressesV2_Response_200
    Consumers_listConsumers_Response_200:
      type: object
      properties:
        count:
          type: integer
        next:
          type:
          - string
          - 'null'
          format: uri
        previous:
          type:
          - string
          - 'null'
          format: uri
        results:
          type: array
          items:
            description: Any type
      required:
      - count
      - results
      title: Consumers_listConsumers_Response_200
    Consumers_listConsumerInvites_Response_200:
      type: object
      properties:
        count:
          type: integer
        next:
          type:
          - string
          - 'null'
          format: uri
        previous:
          type:
          - string
          - 'null'
          format: uri
        results:
          type: array
          items:
            $ref: '#/components/schemas/GetUserInvitation'
      required:
      - count
      - results
      title: Consumers_listConsumerInvites_Response_200
    AddressState:
      type: string
      enum:
      - AL
      - AK
      - AZ
      - AR
      - CA
      - CO
      - CT
      - DC
      - DE
      - FL
      - GA
      - HI
      - ID
      - IL
      - IN
      - IA
      - KS
      - KY
      - LA
      - ME
      - MD
      - MA
      - MI
      - MN
      - MS
      - MO
      - MT
      - NE
      - NV
      - NH
      - NJ
      - NM
      - NY
      - NC
      - ND
      - OH
      - OK
      - OR
      - PA
      - RI
      - SC
      - SD
      - TN
      - TX
      - UT
      - VT
      - VA
      - WA
      - WV
      - WI
      - WY
      title: AddressState
    GetTransferResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        amount:
          type: number
          format: double
        originating_account_id:
          type: string
        receiving_account_id:
          type: string
        status:
          type: string
        description:
          type: string
      required:
      - id
      - amount
      - originating_account_id
      - receiving_account_id
      - status
      title: GetTransferResponse
    Consumers_DeleteAddressV2_Response_204:
      type: object
      properties: {}
      description: Empty response body
      title: Consumers_DeleteAddressV2_Response_204
    AccountCancellation:
      type: object
      properties:
        cancellation_reason:
          type:
          - string
          - 'null'
        details:
          type:
          - string
          - 'null'
      title: AccountCancellation
    Address:
      type: object
      properties:
        id:
          type: integer
        consumer:
          type:
          - integer
          - 'null'
        type:
          oneOf:
          - $ref: '#/components/schemas/AddressType'
          - type: 'null'
        address_line1:
          type:
          - string
          - 'null'
        address_line2:
          type:
          - string
          - 'null'
        city:
          type:
          - string
          - 'null'
        state:
          oneOf:
          - $ref: '#/components/schemas/AddressState'
          - type: 'null'
        country:
          $ref: '#/components/schemas/AddressCountry'
        zip:
          type:
          - string
          - 'null'
        lat:
          type:
          - number
          - 'null'
          format: double
        lng:
          type:
          - number
          - 'null'
          format: double
      title: Address
    AddressType:
      type: string
      enum:
      - BILLING
      - SHIPPING
      title: AddressType
    ConsumerDisputeStatus:
      type: string
      enum:
      - in_review
      - submitted
      - closed
      - user_canceled
      title: ConsumerDisputeStatus
    Consumers_listConsumerPaymentCards_Response_200:
      type: object
      properties:
        count:
          type: integer
        next:
          type:
          - string
          - 'null'
          format: uri
        previous:
          type:
          - string
          - 'null'
          format: uri
        results:
          type: array
          items:
            description: Any type
      required:
      - count
      - results
      title: Consumers_listConsumerPaymentCards_Response_200
    GetConsumer:
      type: object
      properties:
        id:
          type: string
          format: uuid
        pcid:
          type: string
        external_id:
          type: string
          format: uuid
        mla_status:
          type: boolean
        first_name:
          type:
          - string
          - 'null'
        last_name:
          type:
          - string
          - 'null'
        email:
          type:
          - string
          - 'null'
          format: email
        is_active:
          type: boolean
        kyc_status:
          type: string
        phone_number:
          type: string
        date_of_birth:
          type: string
        tax_id_type:
          type: string
        tax_identifier:
          type:
          - string
          - 'null'
        address_line1:
          type: string
        address_line2:
          type: string
        address_city:
          type: string
        address_state:
          type: string
        address_zip:
          type: string
        credit_lines:
          type:
          - string
          - 'null'
      required:
      - id
      - pcid
      - mla_status
      - phone_number
      - date_of_birth
      - tax_id_type
      - address_line1
      - address_line2
      - address_city
      - address_state
      - address_zip
      title: GetConsumer
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
